* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* background-color: #1A1C19; */
    /* color: white; */
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #1A1C19;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid #B1A592;
    border-radius: 50px;
    padding: 3px;
    margin: 10px 40px;
    text-align: center;
    font-size: 24px;
}

.nav-left {
    display: flex;
    gap: 4px;
}

.links {
    border: 1px solid #B1A592;
    border-radius: 50px;
    padding: 14px;
    cursor: pointer;
}

.link-1 {
    background-color: #323025;
    color: #B1A592;
    width: 282px;
}

.link-2 {
    color: #B1A592;
    width: 236px;
}

.link-3, .link-4, .link-5 {
    color: #B1A592;
}

.navbar div:not(:first-child):hover {
  background-color: #B1A592;
  color: #1A1C19;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    margin: 10px 40px;
    gap: 10px;
}

.item {
    border: 1px solid red;
    border-radius: 50px;
}

.item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    background-color: #DFD6C5;
}

.item2 {
    grid-column: 2 / span 2;
}

.img1 {
    width: 400px;
    height: 580px;
    border-radius: 50px;
}

.item1-box {
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    /* align-items: center; */
    border-radius: 50px;
    /* margin-top: 5px; */
    padding: 50px 45px;
}

.btn-box {
    width: 100%;
    border-top: 1px solid black;
}

.btn {
    font-size: 24px;
    border: none;
    background-color: #DFD6C5;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.arrow {
    margin-left: 210px;
}


.item1-box h3 {
    font-weight: normal;
    border: 1px solid black;
    width: 180px;
    border-radius: 50px;
    margin-bottom: 50px;
}

.item1-box h2 {
    font-size: 24px;
    color: #323025;
    margin-bottom: 30px;
}

.item1-box h2 span {
    text-decoration: underline;
}


.item2 {
    background-color: #8E886D;
    color: #333333;
    height: 400px;
}

.item2-top {
    display: flex;
    margin: 30px;
    width: 100%;
    height: 100px;
}

.txt {
    width: 50%;
    margin-top: 10px;
}

.txt h3 {
    font-size: 20px;
    border: 1px solid #323025;
    width: 128px;
    border-radius: 50px;
    padding: 2px;
    margin-bottom: 30px;
}

.txt h2 span {
    text-decoration: underline;
    font-size: 24px;
}

.txt h2 {
    margin-bottom: 30px;
}


.img-2 {
    width: 400px;
    height: 250px;
    border-radius: 50px;
}

.item2-bottom {
    
    padding-top: 170px;
}

.item2-bottom button {
    background-color: #8E886D;
    border: none;
    border-top: 1px solid #323025;
    width: 100%;
    font-size: 24px;
    padding-left: 30px;
    cursor: pointer;
    padding-top: 20px;
    border-radius: 50px;
}

.item2-bottom button span {
    margin-left: 680px;
}

.img-3 {
    width: 400px;
    height: 150px;
    border-radius: 50px;
}

.item3{
    background-color: #916E58;
    color: #333333;
}